# Exclude folder !old
\!old/

# Exclude folder notes
notes/

# Exclude all subfolders inside volumes except folder airflow and nifi
volumes/*
!volumes/airflow/
volumes/airflow/*
!volumes/nifi/
volumes/nifi/*

# Exclude file .env
.env

# Exclude all subfolders __pycache__ in all folders
**/__pycache__/

# Exclude folder .idea
dev/.idea/
