x-airflow-common:
  &airflow-common
  image: ${AIRFLOW_IMAGE_NAME:-apache/airflow:latest}
#  build: .
#  image: ${AIRFLOW_IMAGE_NAME:-extending_airflow:latest}
  environment:
    &airflow-common-env
    AIRFLOW__CORE__EXECUTOR: LocalExecutor
    AIRFLOW__CORE__SQL_ALCHEMY_CONN: ${AIRFLOW__CORE__SQL_ALCHEMY_CONN}
    AIRFLOW__CORE__FERNET_KEY: ''
    AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION: 'true'
    AIRFLOW__SCHEDULER__MIN_FILE_PROCESS_INTERVAL: 10
    AIRFLOW__CORE__LOAD_EXAMPLES: 'false'
    AIRFLOW__API__AUTH_BACKENDS: 'airflow.api.auth.backend.basic_auth,airflow.api.auth.backend.session'
  volumes:
    - "${VOLUME_BASE_PATH}/airflow/dags:/opt/airflow/dags"
    - "${VOLUME_BASE_PATH}/airflow/logs:/opt/airflow/logs"
    - "${VOLUME_BASE_PATH}/airflow/plugins:/opt/airflow/plugins"
    - "${VOLUME_BASE_PATH}/airflow/files:/opt/airflow/files"
  user: "${AIRFLOW_UID:-50000}:${AIRFLOW_GID:-50000}"

services:

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    environment:
      - PGADMIN_DEFAULT_EMAIL=${PGADMIN_DEFAULT_EMAIL}
      - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_DEFAULT_PASSWORD}
      - PGADMIN_CONFIG_SERVER_MODE=${PGADMIN_CONFIG_SERVER_MODE}
    volumes:
      - "${VOLUME_BASE_PATH}/pgadmin:/var/lib/pgadmin"
    ports:
      - "5050:80"
    networks:
      - dev_network

  elasticsearch:
    image: elasticsearch:8.12.0
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    volumes:
      - "${VOLUME_BASE_PATH}/elasticsearch:/usr/share/elasticsearch/data"
    ports:
      - "9200:9200"
    networks:
      - dev_network
    healthcheck:
      test: ["CMD-SHELL", "curl -s http://localhost:9200/_cluster/health | grep -q 'status\":\"\\(green\\|yellow\\)'"]
      interval: 30s
      timeout: 30s
      retries: 3

  kibana:
    image: kibana:8.12.0
    container_name: kibana
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    volumes:
      - "${VOLUME_BASE_PATH}/kibana:/usr/share/kibana/data"
    ports:
      - "5601:5601"
    depends_on:
      elasticsearch:
        condition: service_healthy
    networks:
      - dev_network

  nifi:
    image: apache/nifi:1.24.0
    container_name: nifi
    ports:
      - "9300:9300"
    environment:
      - NIFI_WEB_HTTP_PORT=${NIFI_WEB_HTTP_PORT}
      - SINGLE_USER_CREDENTIALS_USERNAME=${SINGLE_USER_CREDENTIALS_USERNAME}
      - SINGLE_USER_CREDENTIALS_PASSWORD=${SINGLE_USER_CREDENTIALS_PASSWORD}
    volumes:
      - "${VOLUME_BASE_PATH}/nifi/database_repository:/opt/nifi/nifi-current/database_repository"
      - "${VOLUME_BASE_PATH}/nifi/flowfile_repository:/opt/nifi/nifi-current/flowfile_repository"
      - "${VOLUME_BASE_PATH}/nifi/content_repository:/opt/nifi/nifi-current/content_repository"
      - "${VOLUME_BASE_PATH}/nifi/provenance_repository:/opt/nifi/nifi-current/provenance_repository"
      - "${VOLUME_BASE_PATH}/nifi/state:/opt/nifi/nifi-current/state"
#      - "${VOLUME_BASE_PATH}/nifi/conf:/opt/nifi/nifi-current/conf"
      - "${VOLUME_BASE_PATH}/nifi/drivers:/opt/nifi/nifi-current/drivers"
      - "${VOLUME_BASE_PATH}/nifi/files:/opt/nifi/nifi-current/files"
    networks:
      - dev_network

  airflow-webserver:
    <<: *airflow-common
    command: webserver
    ports:
      - 8080:8080
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:8080/health"]
      interval: 10s
      timeout: 10s
      retries: 5
    restart: always

  airflow-scheduler:
    <<: *airflow-common
    command: scheduler
    restart: always

  airflow-init:
    <<: *airflow-common
    command: version
    environment:
      <<: *airflow-common-env
      _AIRFLOW_DB_UPGRADE: 'true'
      _AIRFLOW_WWW_USER_CREATE: 'true'
      _AIRFLOW_WWW_USER_USERNAME: ${_AIRFLOW_WWW_USER_USERNAME:-airflow}
      _AIRFLOW_WWW_USER_PASSWORD: ${_AIRFLOW_WWW_USER_PASSWORD:-airflow}

networks:
  dev_network:
    driver: bridge